# =========================
# Python
# =========================
__pycache__/
*.py[cod]
.venv/

# =========================
# Checkpoint / trained model
# =========================
Checkpoint/
checkpoint/
checkpoints/
*.pt
*.pth
*.ckpt

# =========================
# Downloaded LLM models
# =========================
llama-3.1-8b/
llama-3.1-8b-8bit/

*.safetensors
*.bin

# =========================
# Model-generated/config files
# =========================
*.json
*.jinja

# =========================
# User profile / local data
# =========================
user_profile/
user_profile.json

# =========================
# Local data
# =========================
data/
adapters/
# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db